<%= form_with(model: [@inbox, message]) do |form| %>
  <%= render 'shared/errors', form: form %>
 
  <div>
    <%= form.text_area :body, style: 'width:100%;padding: 5px 10px', maxlength: Message::MAX_BODY, rows: 10 %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
